.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.font-raleway{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    font-size: 16px;
}

.nav-btn{
    background-color: #4E47FF;
    width:130px;
    height: 50px;
    gap: 10px;
    padding: 12px 36px 12px 36px;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    border-style: none;
}
.nav-title{
        font-weight: 900;
        font-size: 35px;
        color:#4E47FF;
    }

.banner-title{
    color: #252432;
    margin: 37px 0px;
    font-size: 65px;
    font-weight: 900;
}
    .banner-btn{
        background-color: #4E47FF;
    width:175px;
    height: 50px;
    gap: 10px;
    padding: 12px 36px 12px 36px;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    margin-top: 20px;
    border-style: none;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
       align-items: center;
       gap: 37px;
       padding: 0px;
        width: 905px;
        height: 237px;
    }

    .action-title{
        color: #252432;
        font-size: 42px;
        font-weight: 700;
        text-align: left;
        line-height: 49px;
    }


    .action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        height: 330px;
        background-color: #F5F8FF;
    }
    .action-description{
        color: #25243280;
        font-size: 24px;
        font-weight: 400;
        align:left ;
    }
    .sec1{
        width: 500px;
        height: 200px;
    }
    .action-btn{
          background-color: #4E47FF;
    width:230px;
    height: 50px;
    gap: 10px;
    padding: 12px 36px 12px 36px;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    margin-top: 20px;
    border-style: none;
    }
    .action-img{
        width: 400px;
        height: 330px;
        border-radius: 50px;
        margin: 0px 10px;
    }

    .user-section{
        width: 1140px;
        height:306px ;
        left: 141px;
        top: 1258px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10;
        padding: 50px 80px 50px 80px;
        border-radius: 24px;
        background-color: #4E47FF1A;
        margin-top: 115px;
    }
    .user-info-title{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        gap: 40px;
        margin: 40px 0px;
        color: #252432;
    }
    .user-info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 158px;
        margin: 40px 0px;
    }
    .info-title{
        font-size: 20px;
        font-weight: 400;
        color: #00000080;

    }
    .info{
        color: #4E47FF;
        font-size: 80px;
        font-weight: 700;
        line-height: 97px;
    }